.packImage {
    background-size: cover;
    margin: 0;
    width: 200px;
    height: 200px;
    opacity: 1;
  }

  .packImage:hover {
    content: "Haz clic para editar";
    background-color: #eee;
    color: #333;
  }


.packForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}

.inputForm{
    width: 100%;
}

