<div style="width:1000px; height: 100%;">
    <div class="card" style="width:100%; border-color: transparent;">
        <div class="row">
            <div class="col-md-7">
                <div id="carouselExampleFade" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                      <div class="carousel-item" *ngFor="let media of postMedia; let i = index" [ngClass]="{'active': i === currentIndex}">
                        <!--Se verifica que tipo de contenido hay que mostrar (Imagen/video/audio)-->
                        <!--Imagen-->
                        <img  *ngIf="media.endsWith('jpg') || media.endsWith('jpeg') || media.endsWith('png')"
                        src="http://localhost:3000/{{media}}" class="sliderPost w-100" alt="...">
                        <!--Video-->
                        <video controls controlsList="nodownload" *ngIf="media.endsWith('mp4') || media.endsWith('webm')" class="video">
                          <source *ngIf="media.endsWith('mp4')" src="http://localhost:3000/{{media}}" type="video/mp4">
                          <source *ngIf="media.endsWith('webm')" src="http://localhost:3000/{{media}}" type="video/webm">
                          Tu navegador no soporta la etiqueta de video.
                        </video>   
                        <!--Audio-->
                        <img src="../../../assets/audio.png" *ngIf="media.endsWith('mp3') || media.endsWith('wav') || media.endsWith('flac')" class="sliderPost">
                        <audio controls controlsList="nodownload" *ngIf="media.endsWith('mp3') || media.endsWith('wav') || media.endsWith('flac')" style="width: 100%;"> 
                          <source src="http://localhost:3000/{{media}}" type="audio/mpeg">
                          <source src="http://localhost:3000/{{media}}" type="audio/wav">
                          <source src="http://localhost:3000/{{media}}" type="audio/flac">
                        </audio>                     
                      </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" (click)="prev()">
                      <span class="carousel-control-prev-icon" style="margin-top: 100%;" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" (click)="next()">
                      <span class="carousel-control-next-icon" style="margin-top: 100%;" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            </div>
            <div class="col-md-5">
                <div style="height: 150px; border-bottom: 1px solid rgb(212, 212, 212)">
                    <h1 class="card-title">{{post.title}}</h1>
                    <h3 class="card-subtitle mb-2 text-muted ">{{ post.createdAt | date: 'dd/MM/yyyy'}}</h3>
                    <p class="card-text">{{post.description}}</p>
                </div>
                <!--Comentarios-->
                <br>
                <div style="height: 70%; max-height: 70%; position: relative; overflow-y: scroll;">
                  <mat-card *ngFor="let comment of comments">
                    <mat-card-header> <a href="/profile/{{comment.authorId}}" style="text-decoration: none; color: rgb(155, 155, 155); margin-left: -10%;">{{comment.authorName}}</a></mat-card-header>
                    <mat-card-content>{{comment.text}}</mat-card-content>
                  </mat-card>
                  <!-- Agregar sección de comentarios -->
                  <textarea class="commentBox" [(ngModel)]="comment.text"></textarea>
                  <button class="commentButton" (click)="createComment()">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>
