  .mat-elevation-z4 {
    box-shadow: 0;
    border-color: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .sliderPost {
    min-height: 500px; 
    height: auto; /* ajusta el valor de altura según sea necesario */
    width: 500px;
    max-height: 500px; 
    margin-left: auto;
    margin-right: auto;
    display: block; /* para centrar verticalmente la imagen */
  }

  .video {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  .carousel-control-prev{
    height: 70%;
  }

  .carousel-control-next{
    height: 70%;
  }

  .commentBox{
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 80%; 
    height: 60px;
  }

  .commentButton {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    background-color: #6610f2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }