<app-navbar></app-navbar>

<body>
  <div class="container"><br>
    <h1 class="text-center">Packcito</h1>

    <div class="row">
      <div class="col-md-12 mb-3">
        <mat-form-field class="example-form-field" style="width: 100%;">
          <input matInput type="text" placeholder="Buscar" [(ngModel)]="search" (ngModelChange)="searchUser($event)">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-3 text-center">
        <mat-chip-list aria-label="Dog selection">
            <mat-chip *ngFor="let cat of categories" (click)="filterByCategory(cat.id)">
              {{cat.name}}
            </mat-chip>
          </mat-chip-list>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6" *ngFor="let user of users">
          <mat-card>
            <img mat-card-image src="http://localhost:3000/{{user.profilePhoto}}" alt="Perfil de usuario">
            <mat-card-content>
              <h2 class="card-title text-center">{{ user.username }}</h2>
              <p class="card-text text-center">{{ user.description }}</p>
              <p class="text-center">Subscriptores:</p>
              <button mat-raised-button color="primary" (click)="getUser(user.id)">Ver más</button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
  </div>
</body>