<app-navbar></app-navbar>

<body>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12 mb-3">
                <input type="text" class="form-control" placeholder="Buscar">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3 text-center">
                <ul class="list-inline">
                    <button class="btn btn-success" style="margin: 15px">Deportes</button>
                    <button class="btn btn-danger" style="margin: 15px">Musica</button>             
                    <button class="btn btn-primary" style="margin: 15px">Tecnologia</button>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="https://picsum.photos/200/200" class="card-img-top" alt="Cafecito 1">
                    <div class="card-body">
                        <h2 class="card-title text-center">Perfil 1</h2>
                        <p class="card-text text-center">Descripción breve del Perfil 1</p>
                        <p class="text-center">Packs vendidos: 32</p>
                        <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="https://picsum.photos/200/200" class="card-img-top" alt="Cafecito 2">
                    <div class="card-body">
                        <h2 class="card-title text-center">Perfil 2</h2>
                        <p class="card-text text-center">Descripción breve del Perfil 2</p>
                        <p class="text-center">Packs vendidos: 20</p>
                        <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="https://picsum.photos/200/200" class="card-img-top" alt="Cafecito 3">
                    <div class="card-body">
                        <h2 class="card-title text-center">Perfil 3</h2>
                        <p class="card-text text-center">Descripción breve del Perfil 3</p>
                        <p class="text-center">Packs vendidos: 17</p>
                        <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="https://picsum.photos/200/200" class="card-img-top" alt="Cafecito 4">
                    <div class="card-body">
                        <h2 class="card-title text-center">Perfil 4</h2>
                        <p class="card-text text-center">Descripción breve del Perfil 4</p>
                        <p class="text-center">Packs vendidos: 12</p>
                        <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>